@frontend-team:registry=https://gitlab.visibleone.io/api/v4/packages/npm/
//gitlab.visibleone.io/api/v4/packages/npm/:_authToken="glpat--xCkYhvsyX2Fq2VBi88Z"
//gitlab.visibleone.io/api/v4/projects/279/packages/npm/:_authToken="glpat--xCkYhvsyX2Fq2VBi88Z"